* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}
  
.loader {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loader img {
    width: 280px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(135deg, #f57308, #fff, rgb(11, 242, 7));
}
  
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #1a6ad2, #fff, rgb(245, 5, 53));
}
  
/*  Simillar  */
  
section {
    padding: 100px 0;
}
  
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
  
.about,
.services,
.skills,
.projects,
.contact,
footer {
    font-family: "Poppins", sans-serif;
}
  
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
  
section .title {
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}
  
section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
}
  
section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #1e3551;
    padding: 0 5px;
    transform: translateX(-50%);
}
  
/*  Navbar  */
.navbar {
    position: fixed;
    width: 100%;
    background-color: #000000;
    z-index: 999;
    padding: 15px 0;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.3s ease;
}
  
.navbar.sticky {
    padding: 15px 0;
    background: #132942;
}
  
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
  
/*  Nav Logo Span Linear-Gradient  */
.navbar .logo a span {
    background: linear-gradient(135deg, #041d3d, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}
  
.navbar.sticky .logo a span {
    color: #fff;
}
  
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
  
.navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
  
.navbar .menu li a:hover {
    color: #1e3551;
}
  
.navbar.sticky .menu li a:hover {
    color: #fff;
}
  
/*  Menu Btn  */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
  
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: #1e3551;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
  
.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
  
.scroll-up-btn:hover {
    filter: brightness(90%);
}



/*  First page */

.about {
  background: radial-gradient(#e1efff, white);
  min-height: 100vh;
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.about .about-content .left {
  width: 30%;
}

.about .about-content .left img {
  max-width: 100%;
  min-height: 1200px;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.about .about-content .column-right {
  width: 65%; /* Adjusted to leave some space */
  font-family: "Ubuntu", sans-serif;
}

.about .about-content .column-right .text2 {
  font-size: 40px;
  font-weight: 800;
}

.about .about-content .column-right .text3 {
  font-size: 23px;
  font-weight: 200;
  margin-top: 15px;
}

.about .about-content .column-right img {
  max-width: 60px;
  height: 60px;
  object-fit: scale-down;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}





    /* Pictures */

  .pictures {
    background-color:  #111;
  }
    
    .container {
      width: 100%;
      padding: 4rem 2rem;
      margin: 0 auto;
    }

    .pictures .title {
        text-align: center;
        color: white;
    }
    
    .pictures {
      .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
    }

      
    
      .card {
        color: black;
        border-radius: 2px;
        background: white;
        box-shadow: black;
    
        &-image {
          position: relative;
          display: block;
          width: 100%;
          padding-top: 70%;
          background: white;
    
          img {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    
    @media only screen and (max-width: 600px) {
      .pictures {
        .container {
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 1rem;
        }
      }
    }


/*  Footer  */
footer {
  background: #111;
  padding: 30px 16px;
  color: #888c8d;
  text-align: center;
}

footer span a {
  color: #1e3551;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}



/*  Media Query  */

@media (max-width: 1104px) {
  .about .about-content .column-left img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 991px) {
  .social-menu ul li a {
    left: 114px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column-left img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .column-left {
    margin: 0 auto 60px;
  }
  .about .about-content .column-right {
    flex: 100%;
  }

  .about .about-content .column-right img {
    display: none;
  }

  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}




@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Center items vertically */
  }

  .about .about-content .column {
    flex: 100%;
    margin-bottom: 20px; /* Add margin to separate from the next section */
  }

  .about .about-content .column img {
    width: 100%; /* Ensure the image takes up the full width */
    max-height: 400px; /* Set a maximum height for the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    margin-bottom: 15px; /* Add some bottom margin for spacing */
  }

  .about .about-content .column .text {
    font-size: 19px;
  }
}